Материалы к урокам/*

Материалы к урокам/Материалы преподавателя Урок 1/Материалы преподавателя/~$Презентация 1. Алгоритмы и структуры данных на Python. Базовый курс. Введение в алгоритмизацию и реализация простых алгоритмов на Python.pptx

Материалы к урокам/Материалы преподавателя Урок 1/Материалы преподавателя/КОНСПЕКТ_Урок_1.docx

Материалы к урокам/Материалы преподавателя Урок 1/Материалы преподавателя/ПРЕЗЕНТАЦИЯ_Урок_1.pptx

Материалы к урокам/Материалы преподавателя Урок 1/Материалы преподавателя/Сложности операций 1.docx

Материалы к урокам/Материалы преподавателя Урок 1/Материалы преподавателя/Сложности операций 2.docx

Материалы к урокам/Материалы преподавателя Урок 1/Материалы преподавателя/Сложности операций 3.docx

Материалы к урокам/Материалы преподавателя Урок 1/Урок 1. Коды примеров/.idea/encodings.xml

Материалы к урокам/Материалы преподавателя Урок 1/Урок 1. Коды примеров/times_compare/task_1.py
