# Default ignored files
Урок 1. Практическое задание/.idea/
Урок 2. Практическое задание/.idea/
Урок 3. Практическое задание/.idea/
Урок 4. Практическое задание/.idea/
Урок 5. Практическое задание/.idea/
Урок 6. Практическое задание/.idea/
Урок 7. Практическое задание/.idea/
Урок 8. Практическое задание/.idea/
