
Урок 2. Практическое задание/.idea/Урок 2. Практическое задание.iml
Урок 2. Практическое задание/.idea/inspectionProfiles/profiles_settings.xml
Урок 2. Практическое задание/.idea/misc.xml
Урок 2. Практическое задание/.idea/modules.xml
Урок 2. Практическое задание/.idea/vcs.xml
Урок 2. Практическое задание/.idea/workspace.xml
